<%- include('partials/header') %> 
<%- include('partials/nav') %>

<main>
  <h1>Page non trouvée</h1>
  <div class="coffee-animation">
      <img src="coffee-cup.png" alt="Tasse de café renversée">
      <p>Oups! Il semble que cette page n'existe pas.</p>
  </div>
  <a href="/" class="btn">Retour à l'accueil</a>
</main>
<%- include('partials/footer') %>
