<%- include('partials/header') %> <%- include('partials/nav') %>

<div class="container">
  <div class="coffee-cup">
    <div class="cup">
      <div class="coffee"></div>
    </div>
  </div>
  <div class="message">
    <h1>404</h1>
    <h2>Oh non! Une éclaboussure de café...</h2>
    <p>
      La page que vous cherchez n'existe pas. Mais ne vous inquiétez pas, nous
      avons une tasse de café fraîche qui vous attend !
    </p>

    <a href="index.html" class="home-button">Go to Homepage</a>
  </div>
</div>
<%- include('partials/footer') %>
