<%- include('partials/header') %>
<%- include('partials/nav') %>

<main>
  <section class="hero2-section">
    <div class="hero-overlay">
      <h1>Notre Boutique</h1>
    </div>
  </section>
  <section class="catalogue-presentation">
    <div class="presentation-content">
      <div class="presentation-image">
        <div class="presentation-images-grid">
          <img
            src="/images/grain.png"
            alt="Coffee Image 1"
          />
          <img
            src="/images/grain2.png"
            alt="Coffee Image 2"
          />
          <img
            src="/images/sac-coffee.png"
            alt="Coffee Image 3"
          />
          <img
            src="/images/sac-coffee.png"
            alt="Coffee Image 3"
          />
          <img
          src="/images/prez-tasse.jpg"
          alt="Coffee Image 3"
        />
        <img
          src="/images/prez-coffee.jpg"
          alt="Coffee Image 3"
        />
        </div>
      </div>
      <div class="presentation-text">
        <h2>Bienvenue dans notre Boutique</h2>
        <p class="presentation-description">
          Bienvenue dans notre boutique, où règne une ambiance chaleureuse
          et accueillante qui éveille tous vos sens. Dès que vous
          franchissez la porte, vous êtes enveloppé d'une douce symphonie
          d'arômes envoûtants de café fraîchement moulu.
          <br /><br />
          L'atmosphère est empreinte d'une lueur chaleureuse, avec des
          lumières tamisées qui créent des jeux d'ombres et de lumières
          apaisants. Les murs sont ornés d'éléments rustiques, de panneaux
          en bois et de photographies captivantes de plantations de café,
          évoquant l'origine de ces délices aromatiques.
          <br /><br /> </p>
         
       
        <p class="presentation-description">
          Explorez notre catalogue pour trouver le café parfait qui éveille
          vos sens et apporte une touche d'élégance à votre quotidien.
        </p>
        <a href="#" class="cta-button2">Découvrez notre Boutique</a>
      </div>
    </div>
  </section>

  
  </main>
  <%- include('partials/footer') %>
