<%- include('partials/header') %>
<%- include('partials/nav') %>

<main>
  <section class="intro">
    <div class="intro-text">
      <h1 class="intro-title">Bienvenue chez oCoffee</h1>
      <p class="intro-description">
        Bienvenue dans notre boutique, où règne une ambiance chaleureuse et
        accueillante qui éveille tous vos sens. Dès que vous franchissez la
        porte, vous êtes enveloppé d'une douce symphonie d'arômes envoûtants
        de café fraîchement moulu.
        <br /><br />
        L'atmosphère est empreinte d'une lueur chaleureuse, avec des
        lumières tamisées qui créent des jeux d'ombres et de lumières
        apaisants. Les murs sont ornés d'éléments rustiques, de panneaux
        en bois et de photographies captivantes de plantations de café,
        évoquant l'origine de ces délices aromatiques.
      </p>
      <a href="#" class="cta-button2">Découvrez notre catalogue</a>
    </div>
    <div class="intro-image">
      <img src="/images/coffee.png" alt="Café" />
    </div>
  </section>
  <section class="products">
    <h2 class="products-title">Nos Derniers Produits</h2>
    <div class="product-cards">
      <article class="card">
        <img
          src="/images/arabica.jpg"
          alt="Produit 1"
        />
        <h3>arabica</h3>
        <p class="card_text">
          Originaire d’Éthiopie, le café arabica est aujourd’hui
          principalement cultivé en Amérique Centrale et du Sud. Moins
          caféiné que son cousin le robusta, il se distingue par une
          richesse aromatique incomparable.
        </p>
        <a href="#" class="cta-button">En savoir plus</a>
      </article>
      <article class="card">
        <img
          src="/images/liberica.jpg"
          alt="Produit 2"
        />
        <h3>liberica</h3>
        <p class="card_text">
          On le cultive en Afrique de l'Ouest et en Asie. Amer et caféiné,
          le Liberica ressemble au café Robusta, mais s'en distingue par ses
          arômes aux notes fruitées, florales et épicées. Son goût boisé est
          très différent de l'Arabica et du Robusta.
        </p>
        <a href="#" class="cta-button">En savoir plus</a>
      </article>
      <article class="card">
        <img
          src="/images/robusta.jpg"
          alt="Produit 3"
        />
        <h3>robusta</h3>
        <p class="card_text">
          Comme son nom l'indique, le café ROBUSTA est un café robuste. La
          provenance est de la Côte d'Ivoire. Le café ROBUSTA conviendra
          très bien pour tous ceux qui aiment des cafés très serrés au goût
          puissant et amer.
        </p>
        <a href="#" class="cta-button">En savoir plus</a>
      </article>
    </div>
  </section>
</main>
<%- include('partials/footer') %>